.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 3px solid #fff;
  background: #fff;
  font-size: 30px;
  padding: 6px 18px 8px;
  outline: none;
  color: #000;
  cursor: pointer;
}

.button:hover {
  text-decoration: none;
  background: transparent;
  color: white;
  opacity: 0.9;
}

.button .icon-carat-right {
  margin-left: 55px;
}

@media only screen and (max-width: 600px) {
  .button {
    font-size: 18px;
  }

  .button .icon-carat-right {
    width: 14px;
    height: 14px;
    background-size: 14px;
    margin-left: 25px;
  }
}
