.circle {
  height: calc(100vw - 50px);
  width: calc(100vw - 50px);
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0%);
  background: red;
  border-radius: 50%;
  background-color: #ef2a28;
  /* box-shadow: inset 50px -20px 50px rgba(0,0,0,1); */
  background-image: linear-gradient(-130deg, #ef2a28 0%, #d97a00 100%);
  /* animation-name: Gradient;
   animation-duration: 1s;
   animation-iteration-count: infinite;
   animation-timing-function: linear; */
   z-index: -1;
}
.circle:before {
  content: '';
  height: calc(100vw - 50px);
  width: calc(100vw - 50px);
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0%) scale(1.05);
  border-radius: 50%;
  box-shadow: inset 180px -20px 100px black;
}
@media only screen and (max-width: 800px) {
  .circle:before {
    box-shadow: inset 80px -20px 80px black;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* @media (orientation: portrait) {
 .circle{
 top: 50%;
 transform: translate(-50%, -50%);
 height: calc(100vw - 50px);
 width: calc(100vw - 50px);
 }
 } */
