.country-list {
  padding-left: 0;
}

.country {
  margin-bottom: 0;
}

.country:before {
  content: '';
  display: none;
}

.country-button {
  -webkit-appearance: none;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
}

.country-inner {
  display: none;
}

.country.open .country-inner {
  display: block;
  margin-bottom: 25px;
}
