.credit-wrap {
  position: relative;
  width: 100%;
  font-size: 12px;
}
@media only screen and (max-width: 800px) {
  .credit-wrap {
    margin-bottom: 50px;
  }
}
.credit {
  bottom: 43px;
  position: absolute;
  right: -20px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
@media only screen and (max-width: 800px) {
  .credit {
    position: static;
    transform: none;
    padding-left: 20px;
  }
}
