.event {
  border-top: 2px solid white;
}

#past .event,
.event.border-grey {
  border-top: 2px solid #939598;
}
.event-image {
  flex: 1 1 30%;
  max-width: 340px;
  margin-right: 40px;
}
@media only screen and (max-width: 600px) {
  .event-image {
    max-width: none;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
.event-image img {
  width: 100%;
  display: block;
}
.event-text {
  flex: 1 1 70%;
}
.event-text a {
  color: #939598;
}
.event-text .t-sm p:last-of-type {
  margin-bottom: 0;
}
.event:last-of-type {
  border-bottom: 2px solid white;
}
#past .event:last-of-type,
.event.border-grey:last-of-type {
  border-bottom: 2px solid #939598;
}
.event-links ul {
  padding-left: 0;
}
.event-links a {
  text-decoration: underline;
}
.event-delimiter {
  margin-left: -0.2rem;
}

.event-pagination .pagination-button {
  margin: 0 0.1rem;
  color: #939598;
  text-decoration: underline;
}

.event-pagination .pagination-button.current {
  color: white;
}
