footer {
  padding-left: 60px;
  padding-right: 200px;
  margin: 0px auto;
  margin-bottom: 2rem;
  max-width: 1240px;
}
footer p {
  font-size: 12px;
}
@media only screen and (max-width: 800px) {
  footer {
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
  }
}

footer.hub {
  width: 100vw;
  background-color: #333;
  padding: 20px 3.5vw;
  margin: 0;
  max-width: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
}

footer.hub form {
  padding: 0 30px;
  width: 100%;
  margin: 0px;
}

@media only screen and (max-width: 1024px) {
  footer.hub {
    display: block;
    padding-bottom: 10px;
  }

  footer.hub > div {
    margin-bottom: 20px;
  }

  footer.hub form {
    padding: 0;
  }
}

@media only screen and (max-width: 600px) {
  footer.hub {
    padding-right: 20px;
    padding-left: 20px;
  }

  footer.hub input[type=email], input[type=submit] {
    font-size: 18px;
  }
}

footer.hub h2 {
  font-size: 20px;
  margin-bottom: 0;
}

.footer-contact h2:first-of-type {
  margin-bottom: 8px;
}

.footer-contact,
.footer-links {
  flex: 0 0 auto;
}

.footer-newsletter {
  flex: 1 1 auto;
}

.footer-newsletter input[type=email] {
  -webkit-appearance: none;
  -moz-appearance:none;
  appearance: none;
  border: 1px solid #fff;
  width: 100%;
  background: none;
  font-size: 20px;
  padding: 10px 15px;
  outline: none;
  color: #fff;
  position: relative;
  top: -2px;
}

.footer-newsletter ::placeholder {
  color: rgba(255,255,255,0.5);
}
.footer-newsletter :-ms-input-placeholder {
  color: rgba(255,255,255,0.5);
}

.footer-newsletter ::-ms-input-placeholder {
  color: rgba(255,255,255,0.5);
}

.footer-newsletter input.mce_inline_error {
  border-color: inherit !important;
}

.footer-newsletter div.mce_inline_error {
  display: none !important;
}

.footer-newsletter input[type="text"],
.footer-newsletter input[type="submit"] {
  display: none;
}

.footer-newsletter .required:after {
  display: none;
}

#mce-responses {
  margin-bottom: 6px;
}

.footer-contact h2:first-of-type {
  margin-bottom: 8px;
}
