header {
  margin-bottom: 380px;
}

@media only screen and (max-width: 800px) {
  header {
    margin-bottom: 260px;
  }
}

header.full-height {
  min-height: 100vw;
  margin-bottom: 50px;
}

.header-content-left {
  width: 50%;
  float: right;
  z-index: 2;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .header-content-left {
    width: auto;
  }
}

.header-content-left h1 {
  padding: 1.2rem 1.4rem;
  max-width: 500px;
}

@media only screen and (max-width: 600px) {
  .header-content-left h1 {
    padding: 20px;
    margin-top: 2rem;
  }
}

.page-title {
  position: absolute;
  top: 1rem;
}

@media only screen and (max-width: 1180px) {
  .page-title {
    top: 3rem;
  }
}
