.intro {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding-left: 60px;
  padding-right: 80px;
  position: relative;
  margin: 0 auto 160px;
  z-index: 2;
  font-size: 20px;
}

.intro-left {
  flex: 0 0 45%;
}

.intro-right {
  flex: 1 1 55%;
}

.intro-header {
  flex: 0 1 55%;
  padding: 1.2rem 0;
  margin-bottom: 0;
}


@media only screen and (max-width: 800px) {
  .intro {
    display: block;
    margin-bottom: 90px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .intro-left {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .intro-header {
    flex: 1 1 55%;
  }
}
