.navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  padding: 1rem 0;
}
.navigation-btn {
  position: absolute;
  left: 1rem;
  top: 1rem;
}
@media only screen and (max-width: 800px) {
  .navigation-btn {
    left: 20px;
  }
}
.navigation-close {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.navigation-menu {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: #4d4d4f;
  width: 100%;
  transform: translate3d(0, -100%, 0);
  opacity: 0;
  transition: transform 0.15s ease-out, opacity 0s 0.2s;
}
.navigation-menu.open {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.15s ease-out;
}
.navigation-menu.open .navigation-close {
  display: block;
}
@media only screen and (max-width: 800px) {
  .navigation-menu {
    height: 100vh;
    width: 50vw;
    transform: translate3d(-100%, 0, 0);
  }
}
@media only screen and (max-width: 500px) {
  .navigation-menu {
    width: 80vw;
  }
}
.navigation-content {
  display: grid;
  grid-template-columns: repeat(5, 20fr);
  grid-column-gap: 1vw;
  max-width: 1240px;
  margin: 0px auto;
  padding: 1rem 2rem;
  position: relative;
}
@media only screen and (max-width: 800px) {
  .navigation-content {
    display: block;
    padding: 1rem;
  }
}
.navigation a {
  font-size: 0.7rem;
  transition: color 0.1s;
}
@media only screen and (max-height: 568px) {
  .navigation a {
    font-size: 0.65rem;
  }
}
.navigation a:hover {
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 800px) {
  .navigation-col {
    margin-bottom: 1rem;
  }
}
@media only screen and (max-height: 568px) {
  .navigation-col {
    margin-bottom: 0.4rem;
  }
}
.navigation-col.is-active a {
  color: #939598;
}
.navigation-col.is-active a:hover {
  color: white;
}
