.signatures {
  width: 100%;
  column-count: 4;
}
@media only screen and (max-width: 800px) {
  .signatures {
    column-count: 3;
  }
}
@media only screen and (max-width: 600px) {
  .signatures {
    column-count: 2;
  }
}
@media only screen and (max-width: 420px) {
  .signatures {
    column-count: 1;
  }
}
.signatures a, .signatures span {
  width: 100%;
  display: block;
  margin: 0px;
  padding-left: 20px;
  text-indent: -20px;
  line-height: 18px;
  font-size: 12px;
}
