<style>
  {{ source('./shared/css/base/normalize.css') }}
  {{ source('./shared/css/base/fonts.css') }}
  {{ source('./shared/css/base/typography.css') }}
  {{ source('./shared/css/base/base.css') }}
  {{ source('./shared/css/base/layout.css') }}
  {{ source('./shared/css/base/form.css') }}
  {{ source('./shared/css/base/icons.css') }}
  {{ source('./shared/css/components/button.css') }}
  {{ source('./shared/css/components/circle.css') }}
  {{ source('./shared/css/components/count.css') }}
  {{ source('./shared/css/components/country.css') }}
  {{ source('./shared/css/components/credit.css') }}
  {{ source('./shared/css/components/event.css') }}
  {{ source('./shared/css/components/filter.css') }}
  {{ source('./shared/css/components/footer.css') }}
  {{ source('./shared/css/components/header.css') }}
  {{ source('./shared/css/components/intro.css') }}
  {{ source('./shared/css/components/list-group.css') }}
  {{ source('./shared/css/components/navigation.css') }}
  {{ source('./shared/css/components/signatures.css') }}
</style>
