<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8" />
  <title></title>

  {% include 'shared/css/styles' %}

</head>
<body>

  {% include 'shared/503' %}

  <div class="credit-wrap">
    <a href="https://lovers.co/" class="credit">Site by Lovers</a>
  </div>

  {% include 'shared/analytics' %}

</body>
</html>
