<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>{{seo.siteTitle}}</title>
    <meta name="description" content="{{seo.seoDescription}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

    {% if seo.seoImage.first() %}
    <meta property="og:image"             content="{{ seo.seoImage.first().getURL() }}">
    {% endif %}

    <meta property="og:site_name"        content="{{seo.siteTitle}}">
    <meta property="og:title"            content="{{seo.siteTitle}}">
    <meta property="og:description"      content="{{seo.seoDescription}}">
    <meta property="og:type"             content="declaration">
    <meta property="og:url"              content="{{ craft.app.request.absoluteUrl }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ craft.app.request.absoluteUrl }}">
    <meta name="twitter:title" content="{{seo.siteTitle}}">
    <meta name="twitter:description" content="{{seo.seoDescription}}">

    {% if seo.seoImage.first() %}
      <meta name="twitter:image" content="{{ seo.seoImage.first().getURL() }}">
    {% endif %}


    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">

    {% include 'shared/css/styles' %}
</head>
<body>

  {% if settings is defined %}
    {% if settings.siteStatus or currentUser %}
      {% include 'shared/home' %}
    {% else %}
      {% include 'shared/503' %}
    {% endif %}
  {% else %}
    {% include 'shared/home' %}
  {% endif %}

  <div class="credit-wrap">
    <a href="https://lovers.co/" class="credit">Site by Lovers</a>
  </div>



  <script type="text/javascript">
    var nameOfPractice = document.getElementById('nameOfPractice');
    var website = document.getElementById('website');
    var contactEmail = document.getElementById('contactEmail');
    var dataConsent = document.getElementById('dataConsent');

    nameOfPractice.addEventListener('change', validateCheck);
    website.addEventListener('change', validateCheck);
    contactEmail.addEventListener('change', validateCheck);
    dataConsent.addEventListener('change', validateCheck);

    function validateCheck(){
      var elm = this;
      if(elm.value.length > 0){
        removeClass(elm.parentNode, 'show-error');
      }
      if(elm.type === "checkbox") {
        if(elm.checked){
          removeClass(elm.parentNode.parentNode, 'show-error');
        }
      }
    }


    document.getElementById('sign-form').addEventListener('submit', function(evt){

      var validation = true;

      if(website.value.length < 1){
        validation = false;
        addClass(website.parentNode, 'show-error');
      }

      if(nameOfPractice.value.length < 1 ){
        validation = false;
        addClass(nameOfPractice.parentNode, 'show-error');
      }

      if(contactEmail.value.length < 1){
        validation = false;
        addClass(contactEmail.parentNode, 'show-error');
      }

      if(!dataConsent.checked){
        validation = false;
        addClass(dataConsent.parentNode.parentNode, 'show-error');
      }

      if(!validation){
        evt.preventDefault();
      }

    })

    function hasClass(ele,cls) {
      return !!ele.className.match(new RegExp('(\\s|^)'+cls+'(\\s|$)'));
    }

    function addClass(ele,cls) {
      if (!hasClass(ele,cls)) ele.className += " "+cls;
    }

    function removeClass(ele,cls) {
      if (hasClass(ele,cls)) {
        var reg = new RegExp('(\\s|^)'+cls+'(\\s|$)');
        ele.className=ele.className.replace(reg,' ');
      }
    }

  </script>

  {% include 'shared/analytics' %}

</body>
</html>
