<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8" />
  <title>{{seo.siteTitle}}</title>
  <meta name="description" content="{{seo.seoDescription}}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
  <meta name="referrer" content="origin-when-cross-origin" />

  {% if seo.seoImage.first() %}
  <meta property="og:image"             content="{{ seo.seoImage.first().getURL() }}">
  {% endif %}

  <meta property="og:site_name"        content="{{seo.siteTitle}}">
  <meta property="og:title"            content="{{seo.siteTitle}}">
  <meta property="og:description"      content="{{seo.seoDescription}}">
  <meta property="og:type"             content="declaration">
  <meta property="og:url"              content="{{ craft.app.request.absoluteUrl }}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:url" content="{{ craft.app.request.absoluteUrl }}">
  <meta name="twitter:title" content="{{seo.siteTitle}}">
  <meta name="twitter:description" content="{{seo.seoDescription}}">

  {% if seo.seoImage.first() %}
    <meta name="twitter:image" content="{{ seo.seoImage.first().getURL() }}">
  {% endif %}


  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <link rel="manifest" href="/icons/site.webmanifest">

  {% include 'shared/css/styles' %}

</head>
<body>

  {% include 'shared/navigation' %}

  <div class="inner">
    <div class="block inner t-richtext">
      <h1 class="inner">{{pageContent.thankYouText}}</h1>
      <div class="mbx7 t-sm">
        {{pageContent.footerText}}
      </div>
    </div>
  </div>

  <div class="credit-wrap">
    <a href="https://lovers.co/" class="credit">Site by Lovers</a>
  </div>

  {% include 'shared/analytics' %}

</body>
</html>
