<header class="inner">
  <div class="block inner t-richtext">
    <h2>A declaration is not set up for this country. If you wish to set one up, please get in contact with info@architectsdeclare.com</h2>
  </div>
</header>
