{% include 'shared/navigation' %}

<div class="block pt50 mbx7">
  <h1 class="page-title">{{aboutPage.pageTitle}}</h1>
  {{aboutPage.bodyText}}
</div>


<div class="block">
  {% if aboutPage.steeringGroup %}
    <div class="mbx7 t-richtext list-group" id="steering-group">
      {{aboutPage.steeringGroup}}
    </div>
  {% endif %}

  {% if aboutPage.whyDeclare %}
    <div class="mbx7 t-richtext" id="why-declare">
      {{aboutPage.whyDeclare}}
    </div>
  {% endif %}

  {% if aboutPage.supportUs %}
    <div class="mbx7 t-richtext" id="support-us">
      {{aboutPage.supportUs}}
    </div>
  {% endif %}

  {% if aboutPage.contact %}
    <div class="mbx7 t-richtext" id="contact">
      {{aboutPage.contact}}
    </div>
  {% endif %}
</div>
