{% include 'shared/navigation' %}

<div class="block pt50 t-richtext">
  <h1 class="page-title">{{eventsPage.pageTitle}}</h1>
  {% if eventsPage.bodyText %}
    <div class="mbx7">
      {{eventsPage.bodyText}}
    </div>
  {% endif %}
</div>

<div class="block block-even">
  {% set events = craft.entries.section('events') %}
  {% set upcomingEvents = [] %}
  {% set previousEvents = [] %}
  {% set thumbTransform = {mode: 'stretch', width: 600 } %}
  {% for event in events %}
    {% if "now"|date('Y-m-d') <= event.date|date('Y-m-d') %}
      {% set upcomingEvents = upcomingEvents|merge([event]) %}
    {% else %}
      {% set previousEvents = previousEvents|merge([event]) %}
    {% endif %}
  {% endfor %}

  {% if upcomingEvents|length > 0 %}
    <div class="mbx5" id="upcoming">
      <p class="mbx2">Upcoming events</p>
      {% for event in upcomingEvents|sort((a, b) => a.date <=> b.date) %}
        <div class="event inner">
          <div class="flex mbx1">
            {% if event.image.first() %}
              <div class="event-image">
                <img src="{{event.image.first().getUrl(thumbTransform)}}" alt="{{event.title}}" />
              </div>
            {% endif %}
            <div class="event-text">
              <p class="mbx1">{{event.title}}</p>
              <div class="t-sm">
                {{event.description}}
              </div>
            </div>
          </div>
          <div class="flex t-sm p-nm">
            {% if event.date %}
              <p>Date: {{ event.date|date("j F Y") }}</p>
            {% endif %}
            {% if event.location %}
              <p>Location: {{ event.location }}</p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if previousEvents|length > 0 %}
    <div class="mbx5 color-grey" id="past">
      <p class="mbx2">Previous events</p>
      {% for event in previousEvents|sort((a, b) => b.date <=> a.date) %}
        <div class="event inner">
          <div class="flex mbx1">
            {% if event.image.first() %}
              <div class="event-image">
                <img class="greyscale" src="{{event.image.first().getUrl(thumbTransform)}}" alt="{{event.title}}" />
              </div>
            {% endif %}
            <div class="event-text">
              <p class="mbx1">{{event.title}}</p>
              <div class="t-sm">
                {{event.description}}
              </div>
            </div>
          </div>
          <div class="t-sm event-links mbx1">
              {% if event.speakers|length > 0 %}
              <p class="nm">Presentations:</p>
              <ul>
                {% for speaker in event.speakers %}
                  {% set vimeoUrl = speaker.vimeoUrl %}
                  {% set presentation = speaker.presentationSlides.first() %}
                  <li class="nm t-sm">
                    {{ speaker.title }} -
                    {% if vimeoUrl %}
                      <a href="{{vimeoUrl}}" target="_blank">Watch</a>
                      {% if presentation %}
                        <span class="event-delimiter">,</span>
                      {% endif %}
                    {% endif %}

                    {% if presentation %}
                      <a href="{{presentation.url}}" target="_blank" download>Read</a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
          <div class="flex t-sm p-nm">
            <p>Date: {{ event.date|date("j F Y, g:i A") }}</p>
            <p>Location: {{ event.location }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
