{% if settings.newsletterSignupText %}
  <div class="block block-even inner mbx4">
    <div class="mbx2">{{ settings.newsletterSignupText }}</div>
    <a href="{{settings.newsletterLinkUrl}}" class="button" target="_blank">
      {{settings.newsletterLinkText}}
      <span class="icon-carat icon-carat-right inlb"></span>
    </a>
  </div>
{% endif %}
