{% if navigation is defined and navigation.visible %}
  {% include 'shared/navigation' %}
{% endif %}

<header class="full-height">
  <div class="header-content-left">
    <h1>{{pageContent.siteTitle}}</h1>
  </div>
  <div class="circle">

  </div>
</header>
<div class="block mbx3">
  {{pageContent.siteDescription}}
</div>
<div class="block form">
  {{pageContent.formDescription}}
<form method="post" action="" accept-charset="UTF-8" id="sign-form"  >

    {{ csrfInput() }}

    <input type="hidden" name="action" value="guest-entries/save">
    <input type="hidden" name="sectionId" value="1">

    {{ redirectInput('success') }}

    <div class="form-input required">
      <input id="nameOfPractice" type="text" name="fields[nameOfPractice]" placeholder="{{pageContent.nameOfPracticeText}}" value="" >
      <span class="errormsg">{{pageContent.nameOfPracticeError}}</span>
    </div>

    <div class="form-input required">
      <input id="website" type="text" name="fields[website]" placeholder="{{pageContent.websiteText}}" value="" >
      <span class="errormsg">{{pageContent.websiteError}}</span>
    </div>

    <div class="form-input required">
      <input id="contactEmail" type="text" name="fields[contactEmail]" placeholder="Email" value=""  >
      <span class="errormsg">{{pageContent.emailError}}</span>
    </div>

    <div class="form-input">
      <label class="checkbox-container">{{pageContent.consentText}}
        <span class="required-checkbox">*</span>
        <input type="checkbox" id="dataConsent" name="fields[consentForData][]" value="true">
        <span class="checkmark"></span>
      </label>
      <span class="errormsg">{{pageContent.consentError}}</span>
    </div>
    <div class="form-input">
      <label class="checkbox-container">{{pageContent.updateText}}
        <input type="checkbox" id="newsletterConsent" name="fields[newsletterConsent][]" value="true">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="form-input t-fine">
      *{{pageContent.requireFieldsText}}
    </div>

    <input type="submit" value="SUBMIT">
</form>
</div>
<div class="block block-even mbx3">
  {% set entries = craft.entries.section('signatures').order('title asc').limit(null) %}
  {% set entryCount = entries|length %}

  <h3 class="nm">{{pageContent.signaturesText}}</h3>
  <div class="count">{{entryCount}}</div>

  <div class="signatures">
    {% for signiture in entries %}
      {% set url = signiture.website | slice(0,4) == 'http' ? signiture.website : 'http://' ~ signiture.website %}
      {% if signiture.website %}<a target="_blank" href="{{url}}">{% else %}<span>{% endif %}{{signiture.nameOfPractice }}{% if signiture.website %}</a>{% else %}</span>{% endif %}
    {% endfor %}
  </div>
</div>


<footer class="block mbx2">
  {{pageContent.footerText}}
</footer>

{% include 'shared/footer' %}
