<div class="navigation">
  <button class="navigation-btn bl t-sm" onClick="toggleMenuOpen()">Menu</button>
  <nav class="navigation-menu">
    <div class="navigation-close"></div>
    <div class="navigation-content">
      <div class="navigation-col">
        <a href="/" class="bl">Declaration</a>
      </div>
      {% if navigation.aboutVisible %}
      <div class="navigation-col">
        <a href="/about" class="bl">About us</a>
        {% if aboutPage.steeringGroup %}
          <a href="/about#steering-group" class="bl color-grey" onClick="toggleMenuOpen()">Steering Group</a>
        {% endif %}

        {% if aboutPage.whyDeclare %}
          <a href="/about#why-declare" class="bl color-grey" onClick="toggleMenuOpen()">Why Declare?</a>
        {% endif %}

        {% if aboutPage.supportUs %}
          <a href="/about#support-us" class="bl color-grey" onClick="toggleMenuOpen()">Support Us</a>
        {% endif %}

        {% if aboutPage.contact %}
          <a href="/about#contact" class="bl color-grey" onClick="toggleMenuOpen()">Contact</a>
        {% endif %}
      </div>
      {% endif %}

      {% if navigation.newsVisible or navigation.eventsVisible %}
        <div class="navigation-col">
          {% if navigation.newsVisible %}
            <a href="/news" class="bl">News</a>
            {% if navigation.eventsVisible %}
              <a class="nm bl">&nbsp;</a>
            {% endif %}
          {% endif %}
          {% if navigation.eventsVisible %}
            <a href="/events" class="bl">Events</a>
            <a href="/events#upcoming" class="bl color-grey" onClick="toggleMenuOpen()">Upcoming</a>
            <a href="/events#past" class="bl color-grey" onClick="toggleMenuOpen()">Past</a>
          {% endif %}
        </div>
      {% endif %}
      {% if navigation.resourcesVisible %}
        <div class="navigation-col">
          <a href="/resources" class="bl">Resources</a>
          {% if resourcesPage.resources %}
            <a href="/resources#architects-declare-resources" class="bl color-grey" onClick="toggleMenuOpen()">Architects Declare Resources</a>
          {% endif %}
          {% if resourcesPage.usefulLinks %}
            <a href="/resources#useful-links" class="bl color-grey" onClick="toggleMenuOpen()">Useful Links</a>
          {% endif %}
        </div>
      {% endif %}
      <div class="navigation-col">
        <a href="{{ navigation.parentUrl }}" target="_blank" class="bl">{{ navigation.parentTitle }}</a>
      </div>
    </div>
  </nav>
</div>

<script type="text/javascript">
  function toggleMenuOpen() {
    var navEl = document.querySelector('.navigation-menu');
    var closeEl = document.querySelector('.navigation-close');
    navEl.classList.toggle('open');

    if (navEl.classList.contains('open')) {
      closeEl.addEventListener('click', hideMenu);
    } else {
      closeEl.removeEventListener('click', hideMenu);
    }
  }

  function hideMenu() {
    var navEl = document.querySelector('.navigation-menu');
    navEl.classList.remove('open');
  }

  function handleNavItemMouseEnter(e) {
    var activeEl = e.target;
    activeEl.parentElement.classList.add('is-active');
  }

  function handleNavItemMouseLeave(e) {
    document.querySelector('.navigation-col.is-active').classList.remove('is-active');
  }

  var navLinks = document.querySelectorAll('.navigation-col a');
  for (var i = 0; i < navLinks.length; i++) {
    navLinks[i].addEventListener('mouseenter', handleNavItemMouseEnter);
    navLinks[i].addEventListener('mouseleave', handleNavItemMouseLeave);
  }

  window.addEventListener('scroll', hideMenu);
</script>
