{% include 'shared/navigation' %}

<div class="block pt50 t-richtext">
  <h1 class="page-title">{{newsPage.pageTitle}}</h1>
  {% if newsPage.bodyText %}
    <div class="mbx3">
      {{newsPage.bodyText}}
    </div>
  {% endif %}
</div>


{% set params = { section: 'news', limit: 1 } %}
{% if category is defined %}
  {% set params = params | merge({ relatedTo: category }) %}
  {% set filterLabel = category %}
{% else %}
  {% set filterLabel = newsPage.filterLabel %}
{% endif %}

{% set news = craft.entries(params).limit(10) %}
{% paginate news as pageInfo, newsEntries %}
{% set categories = craft.categories.group('news').order('slug') %}

{% if categories|length > 0 %}
  <div class="block block-even inner flex-spaced">
    <div>
      <div class="country">
        <span style="vertical-align: top">
          {% if category is defined %}
            Filtering
          {% else %}
            Filter
          {% endif %}
          news by
        </span>
        <button class="country-button filter-button mb" onclick="toggleOpen(this)">{{ filterLabel }}<span class="icon-carat icon-white inlb gutters"></span></button>
        <ul class="country-inner">
          {% for cat in categories %}
            {% if category is defined %}
              {% if cat.title != category %}
                <a class="bl guttersx2" href="/news/category/{{ cat.slug }}">{{ cat.title }}</a>
              {% else %}
                <div class="bl guttersx2 filter-selected">{{ cat.title }}</div>
              {% endif %}
            {% else %}
              <a class="bl guttersx2" href="/news/category/{{ cat.slug }}">{{ cat.title }}</a>
            {% endif %}

          {% endfor %}
        </ul>
      </div>
    </div>
    {% if category is defined %}
      <a class="inlb align-right filter-clear" href="/news">View all</a>
    {% endif %}
  </div>
{% endif %}

<div class="block block-even mbx4">
  {% if newsEntries|length > 0 %}
    <div class="mbx2">
      {% for article in newsEntries|sort((a, b) => b.postDate <=> a.postDate) %}
        <div class="event inner border-grey">
          <div class="flex mbx1">
            {% if article.image.first() %}
              <div class="event-image">
                <img src="{{article.image.first().getUrl('event')}}" alt="{{article.title}}" />
              </div>
            {% endif %}
            <div class="event-text">
              <p class="mbx1">{{article.title}}</p>
              <div class="t-sm">
                {{article.bodyText}}
              </div>
            </div>
          </div>
          <div class="flex t-sm p-nm">
            <p>{{ article.postDate|date("j F Y") }}</p>
            {% if article.categories|length > 0 %}
              <p>
                {{newsPage.filterLabel}}:
                {% for cat in article.categories %}
                  <a class="inlb" href="/news/category/{{ cat.slug }}">
                    {% if loop.length > 1 and not loop.last %}
                      {{cat.title}},
                    {% else %}
                      {{cat.title}}
                    {% endif %}
                  </a>
                {% endfor %}
              </p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="event-pagination t-sm mbx2">
      {% if pageInfo.prevUrl %}
        <a class="pagination-button" href="{{ pageInfo.prevUrl }}">Previous Page</a>
      {% endif %}

      {% for page, url in pageInfo.getPrevUrls(2) %}
          <a class="pagination-button" href="{{ url }}">{{ page }}</a>
      {% endfor %}

      <span class="pagination-button current">{{ pageInfo.currentPage }}</span>

      {% for page, url in pageInfo.getNextUrls(2) %}
        <a class="pagination-button" href="{{ url }}">{{ page }}</a>
      {% endfor %}

      {% if pageInfo.nextUrl %}
        <a class="pagination-button" href="{{ pageInfo.nextUrl }}">Next Page</a>
      {% endif %}
    </div>
  {% else %}
    <div>There is no news yet for this category.</div>
  {% endif %}
</div>
