{% include 'shared/navigation' %}
<div class="block pt50 mbx3 t-richtext">
  <h1 class="page-title">{{resourcesPage.pageTitle}}</h1>
  {{resourcesPage.bodyText}}
</div>

<div class="block">
  {% if resourcesPage.resources %}
    <div class="mbx3 t-richtext" id="architects-declare-resources">
      {{resourcesPage.resources}}
    </div>
  {% endif %}

  {% if resourcesPage.usefulLinks %}
    <div class="mbx3 t-richtext" id="useful-links">
      {{resourcesPage.usefulLinks}}
    </div>
  {% endif %}
</div>
