html, body {
  position: relative;
  height: 100%;
  font-size: 30px;
  line-height: 1.3;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #000;
  color: #fff;
  min-height: 58rem;
  padding: 0;
  font-family: "Univers LT W01_55 Roman1475956", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul {
  padding-left: 60px;
}
@media only screen and (max-width: 800px) {
  ul {
    padding-left: 20px;
  }
}
li {
  list-style: none;
  margin-bottom: 1.3em;
  max-width: 770px;
}
li::before {
  content: '——— ';
  letter-spacing: -14px;
  margin-right: 25px;
}
ol {
  padding-left: 2.5rem;
}
ol li {
  list-style-type: decimal;
}
figure {
  padding: 0;
  margin: 0;
}
figcaption {
  font-size: inherit;
  text-align: left;
}
button {
  outline: 0;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  background: transparent;
  color: inherit;
  font: inherit;
  text-align: left;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}
blockquote {
  margin: 0;
  padding-top: 4rem;
}
.touch-scroll {
  -webkit-overflow-scrolling: touch;
}
.bt {
  border-top: 1px solid black;
}
.greyscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
