
@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=636f1e27-843b-496c-b2f0-142ed41605a9&fontids=1475956");
@font-face{
    font-family:"Univers LT W01_55 Roman1475956";
    src:url("fonts/1475956/6510377f-160a-4f66-aec0-2b71f05e9736.eot?#iefix");
    src:url("fonts/1475956/6510377f-160a-4f66-aec0-2b71f05e9736.eot?#iefix") format("eot"),url("fonts/1475956/5c8d59c2-9c85-4a22-88e3-bf3fba01dcd8.woff2") format("woff2"),url("fonts/1475956/fc51d03b-0d7d-45df-9415-3c6270c80749.woff") format("woff"),url("fonts/1475956/74bdff6d-c5de-42e8-a4d8-11ea14eddb22.ttf") format("truetype");
}
