form {
  width: 100%;
  margin: 0px;
  margin-bottom: 1.3em;
}
@media only screen and (max-width: 800px) {
  form {
    padding: 0 10px 0 0;
  }
}
.form-input {
  margin-bottom: 20px;
  position: relative;
  max-width: 600px;
}
.form-input.required:after {
  content: '*';
  font-size: 30px;
  position: absolute;
  right: -25px;
  top: -15px;
  color: #fff;
}
@media only screen and (max-width: 600px) {
  .form-input.required:after {
    font-size: 18px;
    right: -15px;
    top: -5px;
  }
}
.required-checkbox {
  font-size: 20px;
  position: absolute;
  right: -15px;
  top: -5px;
  color: #fff;
}
input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 3px solid #fff;
  width: 100%;
  max-width: 600px;
  background: none;
  font-size: 30px;
  padding: 10px 15px;
  outline: none;
  color: #fff;
}
input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 3px solid #fff;
  background: #fff;
  font-size: 30px;
  padding: 2px 15px;
  outline: none;
  color: #000;
  cursor: pointer;
}
::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.checkbox-container {
  font-size: 12px;
  display: block;
  position: relative;
  padding-right: 0px;
  margin-bottom: 0px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 250px;
}
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 15px;
  width: 15px;
  background-color: #000;
  border: 2px solid #fff;
}
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkbox-container input:checked ~ .checkmark {
  background-color: #fff;
}
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.errormsg {
  display: none;
}
.show-error .errormsg {
  display: block;
  color: red;
  margin-top: 5px;
  font-size: 12px;
}
