.block {
  padding-left: 2rem;
  padding-right: 200px;
  margin: 0px auto;
  max-width: 1075px;
}
@media only screen and (max-width: 800px) {
  .block {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.block-even {
  padding-right: 2rem;
}
@media only screen and (max-width: 600px) {
  .block-even {
    padding-right: 20px;
  }
}

.flex-spaced {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media only screen and (max-width: 600px) {
  .flex-spaced {
    display: block;
  }
}

.bl {
  display: block;
}
.inlb {
  display: inline-block;
}
.gutters {
  padding: 0 20px;
}
.pt50 {
  padding-top: 50vh;
}
.nm {
  margin: 0;
}
.mb {
  margin-bottom: 0.4rem;
}
.mbx1 {
  margin-bottom: 1rem;
}
@media only screen and (max-width: 600px) {
  .mbx1 {
    margin-bottom: 0.5rem;
  }
}
.mbx2 {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 600px) {
  .mbx2 {
    margin-bottom: 1rem;
  }
}
.mbx3 {
  margin-bottom: 3rem;
}
@media only screen and (max-width: 600px) {
  .mbx3 {
    margin-bottom: 1.5rem;
  }
}
.mbx4 {
  margin-bottom: 4rem;
}
@media only screen and (max-width: 600px) {
  .mbx4 {
    margin-bottom: 2rem;
  }
}
.mbx5 {
  margin-bottom: 5rem;
}
@media only screen and (max-width: 600px) {
  .mbx5 {
    margin-bottom: 2.5rem;
  }
}
.mbx7 {
  margin-bottom: 7rem;
}
@media only screen and (max-width: 600px) {
  .mbx7 {
    margin-bottom: 3.5rem;
  }
}
.inner {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.flex {
  display: flex;
}
@media only screen and (max-width: 600px) {
  .flex {
    display: block;
  }
}
.pointer {
  cursor: pointer;
}

.justify-end {
  justify-content: flex-end;
}
