* {
  text-rendering: optimizeLegibility;
}
h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
h1 {
  font-size: 55px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1rem;
  }
}
h2, h3 {
  margin: 0 0 1em 0;
  font-weight: normal;
}
h2 {
  font-size: 1.5rem;
}
@media only screen and (max-width: 600px) {
  h2 {
    font-size: 0.8rem;
  }
}
h3 {
  font-size: 1.3rem;
}
@media only screen and (max-width: 600px) {
  h3 {
    font-size: 0.7rem;
  }
}
p, ul {
  width: 100%;
  margin: 0px auto;
  margin-bottom: 1.3em;
}
p a {
  text-decoration: underline;
}
strong {
  font-weight: normal;
}
em {
  font-style: normal;
}
.t-sm, .t-sm p {
  font-size: 0.7rem;
}
@media only screen and (max-width: 600px) {
  .t-sm, .t-sm p {
    font-size: 14px;
  }
}
.t-fine {
  font-size: 12px;
}
.t-richtext a {
  text-decoration: underline;
}
.t-richtext em {
  font-size: 0.65em;
  margin-top: 0.6rem;
  line-height: 2.5;
}
.p-nm p {
  margin-bottom: 0;
}
.align-right {
  text-align: right;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 600px) {
  p, li, input[type=text], input[type=submit] {
    font-size: 18px;
  }
}
@media only screen and (max-width: 600px) {
  p, li {
    padding: 0;
  }
}
.color-grey {
  color: #939598;
}
